@font-face {
    font-family: LouisCodensed;
    src: url(../font/LouisCondensedRegular.ttf);
    
}
@font-face {
    font-family: LouisR;
    src: url(../font/LouisRegular.ttf);
    
}
body{
    background-color:#005c00 ;
    overflow-x: hidden;
}
.row>*,.container{
    padding: 0!important;
    
}
.row{
    margin: 0!important;
}
#cont-principal{
    height: 100vh; 
    background-image: url(../img/bg-principal.webp);
    background-color: #003a00;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
@media(max-width:767px){
    #cont-principal{
        min-height: 100vh;
        background-position: 40%;
    }
    #nube{
        animation-duration: 50s!important;
        width: auto!important;
    }
    
}
#nube{
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: .7;
    top: 0;
    pointer-events: none;
    animation: nube 100s linear infinite;
}
@keyframes nube{
    from{
        transform:translateX(-100%);
    }
    to{
        transform:translateX(100%);
    }
}
#cont-sub{
    max-width: 1000px;
}
#title-logo{
    transition: all .5s linear;
    height:30vh;
    padding:20px 0;
}
#title-logo img{
    width: 150px;
    transition: all .5s linear;
}
#title-logo h3{
    font-family: LouisR;
    transition: all .5s linear;
    color: #fff;
}
/**ANIMACIONNNNNNNN**/
.animacion h3{
    transform: translateY(20px);
    font-size: 52px;
}
.animacion img{
    transform: translateY(20px);
    width: 100%!important;
}
.animacion{
    padding: 50px 0;
    height: 45vh!important;
}
@media(max-width:767px){
    #title-logo{
        height:20vh;
    }
    #title-logo h3{
        font-size: 18px;
    }
    #title-logo img{
        width: 100px;
    }
    .animacion h3{
        font-size: 35px!important;
    }
}
/*SLIDER*/
#sliders{
    display: none;
    position: relative;   

}
.slide{
     position: absolute;
    opacity: 0;
    pointer-events: none;
    z-index: -1;
    transition: all .5s ease-in-out;
    height: 70vh;
}
@media (max-width:767px){
    .slide{
        height: 80vh;
    }
   
}
.active-slide{
    opacity: 1!important;
    pointer-events: all;
    z-index: 99!important;
}
.slide-info{
    font-family: LouisR;
    padding: 15px;
    width: 100%;
    color: #fff;
    height: 80%;
    display: flex;
}
.info-left{
    width: 25%!important;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info-right{
    width: 75%!important;
}
@media(max-width:776px){
    .slide-info{
        height: 85%!important;
        flex-direction: column;
    }
    .info-left{
        width: 100%!important;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .info-right{
        width: 100%!important;
    }
}
.slide-navigation{
    margin-top: 20px!important;
}
.botones{
    font-family: LouisCodensed;
    letter-spacing: 2px;
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
    column-gap: 20px;
}

.botones img{
    height: 32px;
    padding-bottom: 3px;
}
.btn-anterior{
    letter-spacing: 1px;
    border: none;
    text-align: center;
    padding: 4px 38px 2px 8px;
    border-radius: 50px;
    width: 100%;
}
.btn-siguiente{
    letter-spacing: 1px;
    border: none;
    text-align: center;
    padding: 4px 8px 2px 38px;
    border-radius: 50px;
}

.title-logo{
    font-size:2.5vw;
    text-align: center;
}
.logo-slide{
 max-width: 100%;
}



@media (max-width:767px){
    .botones{
        justify-content: center!important;
        font-size: 17px!important;
        column-gap: 15px;
    }
    .title-logo{
        font-size:6vw;
    }
    .logo-slide{
       max-width: 35%;
    }
    .pregunta{
        margin: 10px 0!important;
    }
    #slide-5 .pregunta{
        margin: 0!important;
    }
    
}
input[type="radio"]{
    margin-right: 10px;
    margin-bottom: 10px;
}
.pregunta{
    margin: 20px 0;;
}

#slide-1{
    align-items: flex-start;
    height: 50vh;
}
#slide-1 .slide-info{
    width: 50%;
    padding-top: 10%;
}
@media (max-width:767px){
    #slide-1 .slide-navigation{
        justify-content: center!important;
    }
    #slide-1 .slide-navigation img{
        width: 40%!important;
    }
    #slide-1 .slide-info{
        width: 100%;
        
    }
    #slide-1 p{
        font-size: 17px!important;
    }
}
#slide-1 .slide-info .next{
    text-align: center;
    margin-top: 25px;
    color: #000;
}
#comienza-test{
    font-family: LouisCodensed;
    font-size: 25px;
    letter-spacing: 3px;
    width: 100%;
    border: none;
    background-color: #fff;
    border-radius:15px;
    padding: 1px;
}
#slide-1 .slide-navigation{
    margin-top: 0!important;
    width: 100%;
    justify-content: flex-end;
}
#slide-1 .slide-navigation img{
    width: 25%;
}
#slide-1 p{
    font-family: LouisCodensed;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    color: #fff;
    font-weight: 300!important;
}

#slide-2 .slide-info{
    background-color:rgb(211, 216, 70,0.6);
}

#personas-hogar{
    padding: 5px;
    border: none;
    border-radius: 5px;
}

#slide-3 .slide-info{
    background-color: rgb(115, 238, 219,0.6);
}
#slide-4 .slide-info{
    background-color: rgb(115, 238, 219,0.6);
}
#slide-5 .slide-info{
    background-color: rgb(115, 238, 219,0.6);
}
#slide-6 .slide-info{
    background-color: rgb(57, 180, 74,0.6);
}
#slide-7 .slide-info{
    background-color: rgb(115, 238, 219,0.6);
}
#slide-8 .slide-info{
    background-color: rgb(0, 168, 156,0.6);
}

#slide-9 .slide-info{
    background-color: rgb(223, 240, 86,0.6);
}





/*TERMOMETRO*/

#slide-10 .info-resultado{
    background-color:rgb(41, 170, 225,0.6) ;
    padding:0 5em!important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    margin: 30px 0;
    color: #fff;
}
#slide-10 .slide-info-resultado{
    display: flex;
    height: 80%;
}
#slide-10 .info-resultado h2{
    font-size: 2rem;
}
#slide-10 .info-resultado p{
    font-family: LouisCodensed;
    font-size: 1.2rem;
    letter-spacing: 1px;
}
#slide-10 .img-termo{
    height: 100%!important;
}
#slide-10 .img-line{
    
    bottom:0%;
   width: 50%;
    position: absolute;
    transition: all 1s ease-in-out 0.5s;
}
#slide-10 .cont-termo{
    position: relative;
    max-height: 100%!important;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.slide-navigation .ancla{
    display: flex;
    justify-content: flex-end;
}
#siguiente-paso{
    font-family: LouisCodensed;
    font-size: 25px;
    letter-spacing: 1px;
    padding: 3px 20px!important;
    border: none;
    margin-right: 10px!important;
    background-color: #fff;
    border-radius:15px;
    padding: 1px;
    
}
#siguiente-paso a{
   text-decoration: none;
   color: #000;
}
@media(max-width:767px){
    #slide-10 .info-resultado{
        padding: 15px!important;
        margin: 10px!important;
    }
}
@media(max-width:578px){
    #slide-10 .img-line{
        width: 100%;
    }
    #slide-8 .info-right{
        overflow: scroll;
    }
}


/*SECCION DOS*/
#video{
    position: relative;
    display: none;
    height: 50vh;
    width: 100%;
    margin-bottom: -50px;
    padding: 0!important;
}
#video video{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
/*SECCION DE CONTACTO*/
#contacto{
    display: none;
    min-height: 60vh;
    background: rgb(31,39,78);
    background: linear-gradient(0deg, rgba(31,39,78,1) 92%, rgba(31,39,78,0.9360119047619048) 97%, rgba(31,39,78,0.8631827731092436) 100%);
}
#contacto .info-contacto{
    display: flex;
    font-family:LouisCodensed;
    letter-spacing: 1px;
    text-transform:uppercase ;
    width: 80%;
    margin: auto!important;
    padding: 50px 0 50px 0;
}
.cont-left{
    width: 50%;
}
.cont-rigth{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.info-contacto p{
    color: #fff;
}
.info-contacto .p1{
    text-transform: none;
    font-family: LouisR;
}

#contacto .carbono-neutro{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 50px;
    padding-top: 20px;

}
#contacto .iniciativa{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#contacto .carbono-neutro img{
    max-width: 65%;
}
#contacto .iniciativa h5{
    color: #fff;
    margin-bottom: 20px;
    font-size: 15px;
}
#contacto .patrocinadores{
width: 50%;
}
#contacto .patrocinadores img{
    max-width: 100%;
}
.chevrolet{
    display: flex;
    flex-direction: column;
}
.chevrolet img{
    border: solid #fff;
    border-width: 0 0 0 1px;
    padding-left: 20px;
}
@media (max-width:767px) {
    #contacto .info-contacto{
        width: 95%;
        flex-direction: column;
    }
    .cont-rigth{
        width: 100%;
        flex-direction: row;
        margin-top: 20px;
    }
    .cont-left{
        width: 100%
    }
    #contacto .carbono-neutro{
        width: 50%;
        justify-content:center!important;
    }
    #contacto .iniciativa{
        width: 50%;
        justify-content:center!important;
    }
    #contacto .patrocinadores{
        width: 100%!important;
    }
}

/*FORMULARIO*/
#form-contacto .form-item{
    margin: 15px 0;
    border: solid  #C6D900;
    border-width: 0 0 3px 0;
}
#form-contacto label{
    color: #fff;
}
#form-contacto input{
    width: 70%;
    border: none;
    background-color: transparent;
    outline: none;
    color: #fff;
}
.btn-form{
   text-align: end;
}
 .btn-form button{
    background-color:#fff;
    border: none;
    padding: 5px 30px;
    border-radius: 50px;
    font-size: 20px;
    letter-spacing: 2px;
    
}
@media(max-width:767px){
    .btn-form{
        text-align: center;
        margin-bottom: 30px;
     }
     #contacto .carbono-neutro{
        margin-bottom: 0!important;
        padding-top: 0!important;
     }
}

/*MENSAJE*/

.mensaje{
    display: none;
    justify-content: center;
    align-items: center;
    border: solid 2px #C6D900;
    border-radius: 5px;
    padding: 20px;
}





